In [1]:
import pandas as pd

In [2]:
import tweepy
consumer_key = "Qa7wTBYj74oGAN9IGVIk6sXJM"
consumer_secret = "OqknuLSbWXN6lJerf7toL5Ul5V6YagfRU1E40z0WlSZsMFl3OZ"
access_token = "752682207127359488-xvF0uXaSesf1x7BuUUpU596MmpFXBqw"
access_token_secret = "9npqXQYRXz6zvdtfkAZcz2M4xY3enLlkE2z680yEBrX2B"

# **Mine Data**

In [9]:
# Creating the authentication object
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
# Setting your access token and secret
auth.set_access_token(access_token, access_token_secret)
# Creating the API object while passing in auth information
api = tweepy.API(auth)

In [10]:
words = "#สิ้นสุดทางเพื่อน"
numtweet = 2000 #limit2000

In [ ]:
df = pd.DataFrame(columns=['username',
                            #'description',
                            'location',
                            #'following',
                            #'followers',
                            #'totaltweets',
                            #'retweetcount',
                            'text',
                            'hashtags'])
# We are using .Cursor() to search
# through twitter for the required tweets.
# The number of tweets can be
# restricted using .items(number of tweets)
tweets = tweepy.Cursor(api.search,
                        words, lang="th",
                        wait_on_rate_limit=True,wait_on_rate_limit_notify=True,
                        #since_id=date_since,
                        tweet_mode='extended').items(numtweet)

                               
# .Cursor() returns an iterable object. Each item in
# the iterator has various attributes
# that you can access to
# get information about each tweet
list_tweets = [tweet for tweet in tweets]
 
# Counter to maintain Tweet Count
i = 1
 
# we will iterate over each tweet in the
# list for extracting information about each tweet
for tweet in list_tweets:
        username = tweet.user.screen_name
        #description = tweet.user.description
        location = tweet.user.location
        #following = tweet.user.friends_count
        #followers = tweet.user.followers_count
        #totaltweets = tweet.user.statuses_count
       # retweetcount = tweet.retweet_count
        hashtags = tweet.entities['hashtags']

        # Retweets can be distinguished by
        # a retweeted_status attribute,
        # in case it is an invalid reference,
        # except block will be executed
        try:
            text = tweet.retweeted_status.full_text
        except AttributeError:
            text = tweet.full_text
        hashtext = list()
        for j in range(0, len(hashtags)):
            hashtext.append(hashtags[j]['text'])
 
        # Here we are appending all the
        # extracted information in the DataFrame
        ith_tweet = [username, #description,
                    location, #following,
                    #followers, totaltweets,
                    #retweetcount, 
                     text, hashtext]
        df.loc[len(df)] = ith_tweet
        i = i+1

WARNING:tweepy.binder:Rate limit reached. Sleeping for: 739

In [ ]:
df

In [ ]:
df=df.drop(['username', 'location','hashtags'], axis=1)
df=df.assign(Positive = 0,Negative = 0,Neutral = 0)

In [ ]:
df

# **Delete Hashtag**

In [ ]:
# delete hashtag
for i in range(0,len(df.index)):
  Str = str(df['text'].values[i])
  temp = Str.split()
  void = ""
  for j in temp:
    if(j.find("#") == -1):
      void = void + j
  df.at[i,'text']=void

In [ ]:
df

,text,Positive,Negative,Neutral
0,นางเรียนม.กรุงเทพละถ้าทุกคนไปแจ้งความแล้วเอาใบ...,0,0,0
1,"โดนโกงออนไลน์8,000บาทไปแจ้งความดำเนินคดีถึงที่...",0,0,0
2,กิจกรรมพิเศษทายผลฟุตบอลบอลโลกลุ้นแจ็คพอตใหญ่กั...,0,0,0
3,น้องชื่อHopperอายุ3ปีเพศผู้ไม่แน่ใจว่าหลงมาหรื...,0,0,0
4,นางเรียนม.กรุงเทพละถ้าทุกคนไปแจ้งความแล้วเอาใบ...,0,0,0
...,...,...,...,...
1995,เอาเงินกูคืนมาอีเวรโดนโกงตั้งแต่ปีหนึ่งตอนนี้ก...,0,0,0
1996,นางเรียนม.กรุงเทพละถ้าทุกคนไปแจ้งความแล้วเอาใบ...,0,0,0
1997,คือกูเข้าแท็กอยากรู้ว่ามันคือใครทำไรแต่กูต้องม...,0,0,0
1998,เราจึงได้มีการสอบถามเรื่องคลิปและความเชื่อมโยง...,0,0,0
1999,สวัสดีค่ะเราเป็นอีกหนึ่งคนที่เคยสนิทกับรู้จักพ...,0,0,0

# **Delete พนัน/ขายของ**

In [ ]:
# delete รายได้เสริม ไม่มีค่าสมัคร ฝากร้าน
for i in range(0,len(df.index)):
  Str = str(df['text'].values[i])
  if(Str.find("รายได้เสริม") != -1): #found
       df.at[i,'text']=""
  if(Str.find("ไม่มีค่าสมัคร") != -1): #found
       df.at[i,'text']=""
  if(Str.find("ฝากร้าน") != -1): #found
       df.at[i,'text']=""

In [ ]:
df

,text,Positive,Negative,Neutral
0,นางเรียนม.กรุงเทพละถ้าทุกคนไปแจ้งความแล้วเอาใบ...,0,0,0
1,"โดนโกงออนไลน์8,000บาทไปแจ้งความดำเนินคดีถึงที่...",0,0,0
2,กิจกรรมพิเศษทายผลฟุตบอลบอลโลกลุ้นแจ็คพอตใหญ่กั...,0,0,0
3,น้องชื่อHopperอายุ3ปีเพศผู้ไม่แน่ใจว่าหลงมาหรื...,0,0,0
4,นางเรียนม.กรุงเทพละถ้าทุกคนไปแจ้งความแล้วเอาใบ...,0,0,0
...,...,...,...,...
1995,เอาเงินกูคืนมาอีเวรโดนโกงตั้งแต่ปีหนึ่งตอนนี้ก...,0,0,0
1996,นางเรียนม.กรุงเทพละถ้าทุกคนไปแจ้งความแล้วเอาใบ...,0,0,0
1997,คือกูเข้าแท็กอยากรู้ว่ามันคือใครทำไรแต่กูต้องม...,0,0,0
1998,เราจึงได้มีการสอบถามเรื่องคลิปและความเชื่อมโยง...,0,0,0
1999,สวัสดีค่ะเราเป็นอีกหนึ่งคนที่เคยสนิทกับรู้จักพ...,0,0,0

# **Score**

In [ ]:
!pip install pythainlp==2.2.6

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pythainlp==2.2.6 in /usr/local/lib/python3.7/dist-packages (2.2.6)
Requirement already satisfied: python-crfsuite>=0.9.6 in /usr/local/lib/python3.7/dist-packages (from pythainlp==2.2.6) (0.9.8)
Requirement already satisfied: tinydb>=3.0 in /usr/local/lib/python3.7/dist-packages (from pythainlp==2.2.6) (4.7.0)
Requirement already satisfied: requests>=2.22.0 in /usr/local/lib/python3.7/dist-packages (from pythainlp==2.2.6) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->pythainlp==2.2.6) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->pythainlp==2.2.6) (2022.9.24)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->pythainlp==2.2.6) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->pythainlp==2.2.6) (1.24.3)
Requirement already satisfied: typing-extensions<5.0.0,>=3.10.0 in /usr/local/lib/python3.7/dist-packages (from tinydb>=3.0->pythainlp==2.2.6) (4.1.1)

In [ ]:
from pythainlp import word_tokenize

word= []
for i, row in df.iterrows():
    line =" " + " ".join(word_tokenize(row["text"]))
    word.append(line)

In [ ]:
word[0:4]

[' นาง เรียน ม. กรุงเทพ ละ ถ้า ทุกคน ไป แจ้งความ แล้ว เอา ใบแจ้งความ ดำเนินคดี มา ให้ ที่ มหาลัย มหาลัย จะ ให้ นาง พ้น สภาพ นักศึกษา ค่ะ แนะนำ ให้ แจ้งความ แบบ ดำเนินคดี นะคะ นาง จะ ได้ โดน เด้ง',
 ' โดน โกง ออนไลน์ 8,000 บาท ไป แจ้งความ ดำเนินคดี ถึงที่สุด ตำรวจ บอก ให้ ทำใจ คดี เป็น แสน ยัง ตาม ไม่ ได้ เพราะ ไม่ เห็น ตัวตน ผู้ขาย ตาม จับ ยาก เลย ถอน แจ้ง ความสรุป คนชั่ว รวย โกง ต่อ ตำรวจ ทำ ไร ไม่ ได้ คน ถูก โกง ได้ แต่ ทำใจ กุ ละ อยาก ผัน ตัว เป็น โจร',
 ' กิจกรรม พิเศษ ทาย ผล ฟุตบอล บอล โลก ลุ้น แจ็คพอต ใหญ่ กัน ได้ เลย !! https :// t . co / juOBrkF 25 f',
 ' น้อง ชื่อ Hopper อายุ 3 ปี เพศ ผู้ ไม่ แน่ใจ ว่า หลง มา หรือ ถูก ทิ้ง เจอ ตอน ถูก ไล่ ตี ที่ สวนสาธารณะ น้อง ไม่ ดุ เรียบร้อย ไม่ ป่วย ตอนนี้ อยู่ ที่ รพ. ใคร สนใจ ติดต่อ ที่ Line :@ vet 4. suk 33 https :// t . co / iepSgzWSCP']

In [ ]:
word[0]

' นาง เรียน ม. กรุงเทพ ละ ถ้า ทุกคน ไป แจ้งความ แล้ว เอา ใบแจ้งความ ดำเนินคดี มา ให้ ที่ มหาลัย มหาลัย จะ ให้ นาง พ้น สภาพ นักศึกษา ค่ะ แนะนำ ให้ แจ้งความ แบบ ดำเนินคดี นะคะ นาง จะ ได้ โดน เด้ง'

In [ ]:
Negative = []
Positive = []

In [ ]:
with open('negative_new.txt', 'r', encoding='utf-8-sig') as f:
    NegativeNew = [line.strip() for line in f]
with open('negative_adjectives.txt', 'r', encoding='utf-8-sig') as f:
    NegativeAdj = [line.strip() for line in f]
with open('negative_verbs.txt', 'r', encoding='utf-8-sig') as f:
    NegativeVerb = [line.strip() for line in f]

Negative = NegativeNew + NegativeAdj + NegativeVerb

In [ ]:
len(Negative)

1218

In [ ]:
with open('positive_new.txt', 'r', encoding='utf-8-sig') as f:
    PositiveNew = [line.strip() for line in f]
with open('positive_adjectives.txt', 'r', encoding='utf-8-sig') as f:
    PositiveAdj = [line.strip() for line in f]
with open('positive_verbs.txt', 'r', encoding='utf-8-sig') as f:
    PositiveVerb = [line.strip() for line in f]

Positive = PositiveNew + PositiveAdj + PositiveVerb

In [ ]:
len(Positive)

512

In [ ]:
def Value(word):
  Pos_value = 0
  Neg_value = 0
  for i in word:
    for j in Positive:
      if(i==j):
        #print(i)
        Pos_value = Pos_value +1
  for i in word:
    for j in Negative:
      if(i==j):
        #print(i)
        Neg_value = Neg_value +1
  #print(Pos_value,Neg_value)
  return Pos_value,Neg_value

In [ ]:
#PosNeg = Value(word[0])

In [ ]:
#word[0]

In [ ]:
position = 0

for i in word:
  #print(i)
  i = i.split()
  PosNeg = Value(i)
  Neu_value = len(i) - PosNeg[0] - PosNeg[1]

  df.at[position, 'Positive'] = PosNeg[0]
  df.at[position, 'Negative'] = PosNeg[1]
  df.at[position, 'Neutral'] = Neu_value

  position = position +1

In [ ]:
df

,text,Positive,Negative,Neutral
0,นางเรียนม.กรุงเทพละถ้าทุกคนไปแจ้งความแล้วเอาใบ...,2,2,32
1,"โดนโกงออนไลน์8,000บาทไปแจ้งความดำเนินคดีถึงที่...",2,8,44
2,กิจกรรมพิเศษทายผลฟุตบอลบอลโลกลุ้นแจ็คพอตใหญ่กั...,0,0,23
3,น้องชื่อHopperอายุ3ปีเพศผู้ไม่แน่ใจว่าหลงมาหรื...,7,8,35
4,นางเรียนม.กรุงเทพละถ้าทุกคนไปแจ้งความแล้วเอาใบ...,2,2,32
...,...,...,...,...
1995,เอาเงินกูคืนมาอีเวรโดนโกงตั้งแต่ปีหนึ่งตอนนี้ก...,0,3,32
1996,นางเรียนม.กรุงเทพละถ้าทุกคนไปแจ้งความแล้วเอาใบ...,2,2,32
1997,คือกูเข้าแท็กอยากรู้ว่ามันคือใครทำไรแต่กูต้องม...,4,3,32
1998,เราจึงได้มีการสอบถามเรื่องคลิปและความเชื่อมโยง...,2,0,69
1999,สวัสดีค่ะเราเป็นอีกหนึ่งคนที่เคยสนิทกับรู้จักพ...,2,0,32

In [ ]:
df=df.assign(Score = 0)
df['Score'] = df['Positive'] - df['Negative']

In [ ]:
df

,text,Positive,Negative,Neutral,Score
0,นางเรียนม.กรุงเทพละถ้าทุกคนไปแจ้งความแล้วเอาใบ...,2,2,32,0
1,"โดนโกงออนไลน์8,000บาทไปแจ้งความดำเนินคดีถึงที่...",2,8,44,-6
2,กิจกรรมพิเศษทายผลฟุตบอลบอลโลกลุ้นแจ็คพอตใหญ่กั...,0,0,23,0
3,น้องชื่อHopperอายุ3ปีเพศผู้ไม่แน่ใจว่าหลงมาหรื...,7,8,35,-1
4,นางเรียนม.กรุงเทพละถ้าทุกคนไปแจ้งความแล้วเอาใบ...,2,2,32,0
...,...,...,...,...,...
1995,เอาเงินกูคืนมาอีเวรโดนโกงตั้งแต่ปีหนึ่งตอนนี้ก...,0,3,32,-3
1996,นางเรียนม.กรุงเทพละถ้าทุกคนไปแจ้งความแล้วเอาใบ...,2,2,32,0
1997,คือกูเข้าแท็กอยากรู้ว่ามันคือใครทำไรแต่กูต้องม...,4,3,32,1
1998,เราจึงได้มีการสอบถามเรื่องคลิปและความเชื่อมโยง...,2,0,69,2
1999,สวัสดีค่ะเราเป็นอีกหนึ่งคนที่เคยสนิทกับรู้จักพ...,2,0,32,2

In [ ]:
Sum_Score = df.sum(axis = 0)
Sum_Score.Score

-3638